.header {
    background: #fdfcfc;
}

.header__inner {
    margin: 0 auto;
    padding: 15px 20px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.header-nav__link {
    color: #020202;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #0b0b0b;
    font-size: 16px;
    cursor: pointer;
}